In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Transacciones_Fraude.csv', sep=';', encoding='latin-1')
df

<ipython-input-4-ddb761f1850a>:1: DtypeWarning: Columns (7,8,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Transacciones_Fraude.csv', sep=';', encoding='latin-1')

,UTRNNO,HPAN,FECHA_TRX,HORA_TRX,COUNTRY_CODE,TERM_TYPE,AMOUNT_1,CUR_CODE,BIN_CURRENCY,MCC,...,AUTH_SOURCE,FRANQUICIA,POS_ENTRY_MODE,ORIGEN_EMISOR,FM_NETWORK,AMOUNT_COL,BANCO_ADQUIRENTE,AMBIENTE,BANCO_EMISOR,IS_FRAUD
0,145736384287,93549332211627,2024-07-01,8:12:00,CO,8.0,19429000.0,170,170,4511.0,...,CBCO,MarterCard,81.0,Nacional,Red_1,19429000.0,Banco 6,No Presente,NaN,0.0
1,145736384281,84409332211536,2024-07-01,18:47:00,CO,8.0,2050000.0,170,170,5818.0,...,Network,Visa,10.0,Nacional,Red_2,2050000.0,Banco 3,No Presente,NaN,0.0
2,145736384252,84400332211005,2024-07-01,2:05:00,CO,2.0,100.0,170,170,9399.0,...,CBCO,Visa,2.0,Nacional,Red_1,100.0,Banco 2,Presente,NaN,0.0
3,145736384246,93526332211167,2024-07-01,13:51:00,CO,2.0,15290000.0,170,170,5813.0,...,CBCO,MarterCard,7.0,Nacional,Red_1,15290000.0,Banco 7,Presente,NaN,0.0
4,145736384197,93530332211347,2024-07-01,15:47:00,CO,2.0,31201500.0,170,170,5541.0,...,CBCO,MarterCard,5.0,Nacional,Red_1,31201500.0,Banco 1,Presente,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19815,145736366983,93530332211608,2024-07-30,2:51:00,CO,8.0,4550000.0,170,170,5818.0,...,Network,MarterCard,10.0,Nacional,Red_1,4550000.0,Banco 3,No Presente,NaN,0.0
19816,145736366939,84491332211221,2024-07-30,22:02:00,CO,8.0,570000.0,170,170,4121.0,...,CBCO,Visa,1.0,Nacional,Red_2,570000.0,NaN,No Presente,NaN,1.0
19817,145736366929,84416332211814,2024-07-30,19:29:00,CO,2.0,13140000.0,170,170,5814.0,...,Network,Visa,71.0,Internacional,Red_2,13140000.0,Banco 5,Presente,NaN,0.0
19818,145736366928,84459332211425,2024-07-30,2:49:00,GB,2.0,19204.0,840,170,7011.0,...,SV Host,Visa,10.0,Nacional,International,79311242.0,NaN,No Presente,Banco 1,1.0
19819,145736366910,84459332211444,2024-07-30,5:03:00,US,8.0,8990000.0,170,170,5818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dtypes

UTRNNO                int64
HPAN                  int64
FECHA_TRX            object
HORA_TRX             object
COUNTRY_CODE         object
                     ...
AMOUNT_COL          float64
BANCO_ADQUIRENTE     object
AMBIENTE             object
BANCO_EMISOR         object
IS_FRAUD            float64
Length: 106, dtype: object

In [ ]:
# 1. Ver si el DF tiene filas con nulos
# En caso de tenr nulos eminarlos

# 2. Separar en columnnas numericas y categoricas
# 3. HAcer el analis de las columnas del df

# Dame un modelo de clasificacion binaria (1, 0) a partir de un df de fraudes con columnas numericas y strings, en donde utilices, correlacion de variables, train_test_split,  plots mas importantes, un imputador, un scalador, un modelo de regresion, confusion_matrix, classification_report, accuracy_score